@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&family=Ubuntu+Condensed&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
}

nav {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
}