@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&family=Ubuntu+Condensed&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
}

.brand a {
    font-family: 'poppins';
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
}

#table {
    display: none;
}

#checkout {
    display: none;
}

#proceed {
    display: none;
}

#an1 {
    display: none;
}

.card1 {
    border-radius: 25px;
    border: none;
    background: linear-gradient(#e66465, #9198e5);
    color: white;
}

.card1 h5 {
    font-size: 20px;
    font-family: 'poppins';
}

.vid-text {
    font-family: 'poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
}

.button1 {
    background-color: #FF7E00;
    border-radius: 5px;
    border: none;
}

.button1:hover {}

#large {
    padding: 4%;
}

#medium {
    margin-left: 14%;
}

#toppings {
    font-family: 'poppins';
}

select {
    width: 100%;
    border-radius: 25px;
    background-color: #A890FE;
    color: white;
    font-family: 'poppins';
    border: none;
}

input {
    font-family: 'poppins';
    border: none;
}