@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Lato&family=Playfair+Display+SC:wght@900&family=Poppins:ital,wght@1,900&family=Roboto+Mono:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

#dung {
    font-weight: 600;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}